<mat-card *ngFor="let list of order">
  <mat-card-content style="display:inline-flex;">
    <div>
      <h2>Vuelo: {{list.id}}</h2>
      <h2>Origen: {{list.origen}}</h2>
      <h2>Destino: {{list.destino}}</h2>
      <h2>Aerolinea: {{list.aerolinea}}</h2>
      <h2>Capacidad: {{list.capacidad}}</h2>
      <label>
        <input type="number" min="1" max="{{list.capacidad}}" [(ngModel)]="list.boletos">
      </label>
    </div>
  </mat-card-content>
</mat-card>
<button mat-stroked-button style="display:flex;justify-content:center" (click)="onSubmit()">Confirmar compra</button>
